<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Produktformer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link href="styleSheet.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">

        <ul class="navbar-nav mr.auto">
            <li class="nav-item"><a class="nav-link" href="/scanProductIn">Modtagelse</a></li>
            <li class="nav-item"><a class="nav-link" href="/scanProductOut">Udlevering</a></li>
            <li class="nav-item"><a class="nav-link" href="/inStock">Varelager </a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Produktformer</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Log ud</a></li>
        </ul>
    </div>
</nav>
<br />
<div th:if="${success}">
    <div class="alert alert-success">
        Produktet blev succesfuldt slettet
    </div>
</div>
<div th:if="${failure}">
    <div class="alert alert-danger">
        Produktet kunne ikke blive slettet, da det eksisterer på lageret.
    </div>
</div>
<div class="container">
    <h1>Produkter</h1>
    <table class="table-hover table">
        <thead class="thead-dark">
        <tr>
            <th>Produktnavn</th>
            <th>Type</th>
            <th>Stregkode</th>
            <th>Leverandør</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getType()}"></td>
            <td th:text="${product.getBarcode()}"></td>
            <td th:text="${product.getSupplier().getSupplier()}"></td>
            <td><a class="btn btn-small btn-danger btn-border-radius" th:href="@{/deleteProduct(id=${product.getId()})}">Slet</a>
                <a class="btn btn-small btn-success btn-border-radius" th:href="@{/updateProduct(id=${product.getId()})}">Rediger</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>