<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Rediger produkt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link href="styleSheet.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav mr.auto">
            <li class="nav-item"><a class="nav-link" href="/scanProductIn">Modtagelse</a></li>
            <li class="nav-item"><a class="nav-link" href="/scanProductOut">Udlevering</a></li>
            <li class="nav-item"><a class="nav-link" href="/inStock">Varelager </a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Produktformer</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Log ud</a></li>
        </ul>
    </div>
</nav><br/>
<div class="container">
    <h1>Update Product</h1>
    <form th:action="@{/updateProduct(id=${product.id})}" th:method="post" th:object="${product}" class="product">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Navn"
                   th:field="*{name}"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="type" placeholder="Type"
                   th:field="*{type}"/>
        </div>
        <div class="form-group">
            <select class="form-control" th:field="*{supplier.supplier}">
                <option th:each="supplier : ${suppliers}" th:text="${supplier.supplier}" th:value="${supplier.supplier}"></option>
            </select>
            <a class="btn btn-success btn-border-radius" th:href="@{/createSupplier}">Tilføj leverandør</a>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="barcode" placeholder="Stregkode"
                   th:field="*{barcode}"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" id="confirm" value="Gem"/>
            <a href="/products" class="btn btn-danger">Afbryd</a>
        </div>
    </form>

</div>

</body>
</html>